# Environment
.env
*.pyc
__pycache__/
*.pyo
*.pyd
.Python

# Distribution / packaging
.eggs/
dist/
build/
*.egg-info/
*.egg

# Virtual environments
.venv/
venv/
env/

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/
